/* | Unidade  | Relativo a                                    |
|----------|-----------------------------------------------|
| em       | Tamanho da font do elemento pai               |
| rem      | Tamanho da font do elemento raiz (root/html)  | 
| vw       | 1% da viewport wid                            |  
| vh       | 1% da viewport height   */


/*  

Por padrão o navegador vai calcular o tamanho da caixa pelo content-box e vai somar com os outros boxes, no exemplo acima no lugar de 100px a caixa vai ficar 
com uma largura de 140px. Para que isso não aconteça, é possível mudar qual vai ser a 
referência para o calculo do tamanho da caixa adicionando a propriedade box-sizing: border-box;


 * {
   box-sizing: border-box;
} */


* {
    box-sizing: border-box;
 }

.imagem {
    position: relative;
    text-align: center;
    overflow: hidden;
    display: block;

}

.oi {
    background-color: #09F;
}

.video_card {
    margin-top: 10px;
    height: 40vh;
    /* border: solid green 2px; */
    display: flex;
    justify-content: space-between;
}

.video {
    /* margin-top: 20px; */
    width: 48vw;
    height: 40vh;
    /* border: solid red 1px; */
}

.card {
    background-color: wheat;
    /* border: solid red 1px; */
    border-radius: 5px;
    width: 48vw;
    height: 40vh;
}

.titulos {

    background-color:bisque;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;

}

.card_body{

    background-color: wheat;
    display: flex;
    justify-content: flex-start;
    padding: 10px;


}